body {
    margin:0;
    padding:0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* For mobile phones: */
[class*='col-'] {
    width: 100%;
    position: absolute;
}

.col-sidebar {
    left: 0;
    top: 75%;
    height: 25%;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    overflow: auto;
}

.side {
    text-align: center;
}

#instructions {
    position: absolute;
    visibility: visible;
    padding: 1rem;
    left: 0;
    top: 3rem;
}

.col-map {
    top: 0;
    height: 75%;
}

/* iPad: portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .col-tablet-map {
	right:0;
	top:0;
	height: 75%;
    }
    
    .col-tablet-sidebar {
	left: 0;
	top: 75%;
	height: 25%;
    }
}

/* iPad: landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .col-map {
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	width: 75%;
	height: 100%;
    }
    
    .col-sidebar {
	position: absolute;
	width: 25%;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
    }
}

/* desktop/laptop */
@media only screen
and (min-width: 1024px) {
    .col-map {
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	width: 75%;
	height: 100%;
    }
    
    .col-sidebar {
	position: absolute;
	width: 25%;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
    }
}

/* toggle button */

#toggle {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#toggle a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#toggle a:last-child {
    border: none;
}

#toggle a:hover {
    background-color: #E57200;
    color: #ffffff;
}

#toggle a.active {
    background-color: #232D4B;
    color: #ffffff;
}

#toggle a.active:hover {
    background: #E57200;
}

/* Side bar listing */

.col-sidebar fieldset {
    display: block;
    background-color: #232D4B;
    border: none;
    padding: .5rem;
    margin: 0;
}

#feature-filter.col-sidebar fieldset {
    display: none;
    background-color: #E57200;
}

.col-sidebar input {
    display: block;
    border: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: .25rem;
    padding: 1rem;
    margin: 0;
}

.col-sidebar .listing {
    overflow: auto;
    max-height: 100%;
    background-color: #fff;
}

.col-sidebar .listing > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.col-sidebar .listing a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.col-sidebar .listing a:hover {
    background: #f0f0f0;
}

.bullet {
    font-size: 2rem;
    padding-right: .5rem;
    vertical-align: middle;
}

.triangle {
    font-size: 1.25rem;
    /* padding-right: .5rem; */
    vertical-align: middle;
}

.square {
    font-size: 2rem;
    padding-right: .5rem;
}

table {
    width: 100%;
}

.num {
    text-align: center;
}
