<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="{{ site.css }}/main.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css"
      rel="stylesheet" />
<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css"
      rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="{{ site.images }}/favicon.ico" >

{% if page.custom_css %}
{% for stylesheet in page.custom_css %}
<link rel="stylesheet" href="{{ site.css }}/{{ stylesheet }}.css" type="text/css">
{% endfor %}
{% endif %}
