// bullet styles for listing menu

.bullet {
    font-size: 2rem;
    padding-right: .5rem;
    vertical-align: middle;
}

.triangle {
    font-size: 1.25rem;
    vertical-align: middle;
}

.square {
    font-size: 2rem;
    padding-right: .5rem;
}
