---
---

@import 'variables';
@import 'bullets';
@import 'media';

body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

[class*='col-'] {
    font-family: $font-stack;
}

[class*='col-header'], [class*='col-footer'] {
    @extend %col-shared;
}

#map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

// -----------------------------------------------------------------------------
// responsive format (set map and let listing column respond)
// -----------------------------------------------------------------------------

// landscape
$map-height-landscape: 100%;
$map-width-landscape-sm: 74%;
$map-width-landscape-md: 71%;
$map-width-landscape-lg: 75%;

// portrait
$map-width-portrait: 100%;
$map-height-portrait-sm: 60%;
$map-height-portrait-md: 67%;
$map-height-portrait-lg: 70%;

// ...these are the same; new var for clarity
$col-height-landscape: $map-height-landscape;
$col-width-portrait: $map-width-portrait;

.col-map {
    position: absolute;
    top: 0;
    font-size: $font-size-sm;
    @include landscape {
        right: 0;
	bottom: 0;
	height: $map-height-landscape;
	width: $map-width-landscape-sm;
	@include medium {
	    width: $map-width-landscape-md;
	    font-size: $font-size-md;
	}
	@include large {
	    width: $map-width-landscape-lg;
	    font-size: $font-size-lg;
	}
    }
    @include portrait {
	width: $map-width-portrait;
	height: $map-height-portrait-sm;
	@include medium {
	    height: $map-height-portrait-md;
	    font-size: $font-size-md;
	}
	@include large {
	    height: $map-height-portrait-lg;
	    font-size: $font-size-lg;
	}
    }
}

.col-sidebar {
    position: absolute;
    left: 0;
    font-size: $font-size-sm;
    @include landscape {
	top: 0;
	height: $col-height-landscape;
	width: calc(100% - #{$map-width-landscape-sm});	
	@include medium {
	    width: calc(100% - #{$map-width-landscape-md});
	    font-size: $font-size-md;
	}
	@include large {
	    width: calc(100% - #{$map-width-landscape-lg});
	    font-size: $font-size-lg;
	}
    }
    @include portrait {
	width: $col-width-portrait;
	top: $map-height-portrait-sm;
	height: calc(100% - #{$map-height-portrait-sm});
	@include medium {
	    top: $map-height-portrait-md;
	    height: calc(100% - #{$map-height-portrait-md});
	    font-size: $font-size-md;
	}
	@include large {
	    top: $map-height-portrait-lg;
	    height: calc(100% - #{$map-height-portrait-lg});
	    font-size: $font-size-lg;
	}
    }
    h2 {
	margin: 0;
	padding: 0;
    }
}

.col-header {
    height: 5%;
    min-height: $header-min-px-sm;
    width: 100%;
    background: $header-background;
    // border-bottom: 5px solid $header-bottom-line-color;
    color: $header-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium {
	min-height: $header-min-px-md;
    }
    @include large {
	min-height: $header-min-px-lg;
    }    
}

.col-subheader {
    height: 2%;
    min-height: $subheader-min-px-sm;
    width: 100%;
    background: $subheader-background;
    color: $subheader-color;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium {
	min-height: $subheader-min-px-md;
    }
    @include large {
	min-height: $subheader-min-px-lg;
    }
    a {
	color: $subheader-link;
	text-decoration: none;
    }
    a:hover, a.active:hover {
	color: $subheader-link-hover;
	text-decoration: underline;
    }
}

.col-footer {
    position: absolute;
    bottom: 0;
    height: 5%;
    min-height: $footer-min-px-sm;
    width: 100%;
    background: $footer-background;
    color: $footer-color;
    font-weight: bold;
    border-top: 5px solid $footer-top-line-color;
    @include medium {
	min-height: $footer-min-px-md;
    }
    @include large {
	min-height: $footer-min-px-lg;
    }
    a {
	color: $footer-link;
	text-decoration: none;
    }
    a:hover, a.active:hover {
	color: $footer-link-hover;
	text-decoration: underline;
    }
}

.ft {
    text-align: center;
    height: 70%;
    min-height: calc(100% - (#{$footer-min-px-sm} / 2));
    @include medium {
	min-height: calc(100% - (#{$footer-min-px-md} / 2));
    }
    @include large {
	min-height: calc(100% - (#{$footer-min-px-lg} / 2));
    } 
}

.ftspace {
    height: 30%;
    min-height: calc(100% - (#{$footer-min-px-sm} / 2) - 1);
    @include medium {
	min-height: calc(100% - (#{$footer-min-px-md} / 2) - 1);
    }
    @include large {
	min-height: calc(100% - (#{$footer-min-px-lg} / 2) - 1);
    } 
}

.col-list {
    height: 90%;
    width: 100%;
    overflow: auto;
    max-height: calc(98% - #{$header-min-px-sm} - #{$footer-min-px-sm});     
    @include medium {
	max-height: calc(98% - #{$header-min-px-md} - #{$footer-min-px-md});
    }
    @include large {
	max-height: calc(98% - #{$header-min-px-lg} - #{$footer-min-px-lg});
    }
}

// -----------------------------------------------------------------------------
// search input
// -----------------------------------------------------------------------------

.mapboxgl-ctrl-geocoder {
    @include landscape {
	min-width: 12rem;
	@include medium {
	    min-width: 15rem;
	}
	@include large {
	    min-width: 20rem;
	}
    }
    @include portrait {
	min-width: 10rem;
	@include medium {
	    min-width: 12rem;
	}
	@include large {
	    min-width: 20rem;
	}
    }
}

// -----------------------------------------------------------------------------
// instructions
// -----------------------------------------------------------------------------

#instructions {
    position: absolute;
    visibility: visible;
    padding: 0 1rem;
    left: 0;
    height: 90%;
    overflow: auto;
    max-height: calc(98% - #{$header-min-px-sm} - #{$footer-min-px-sm});
    img {
	margin-right: 1rem;
	vertical-align: middle;
    }
    @include medium {
	max-height: calc(98% - #{$header-min-px-md} - #{$footer-min-px-md});
    }
    @include large {
	max-height: calc(98% - #{$header-min-px-lg} - #{$footer-min-px-lg});
    }
    
}

// -----------------------------------------------------------------------------
// toggle button
// -----------------------------------------------------------------------------

#toggle {
    background: $white;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: $font-stack;
    a {
	font-size: 13px;
	color: #404040;
	display: block;
	margin: 0;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-align: center;
    }
    a:last-child {
	border: none;
    }
    a:hover {
	background-color: $rtorange;
	color: $link-hover;
    }
    a.active {
	background-color: $jeffblue;
	color: $link-active;
    }
    a.active:hover {
	background: $rtorange;
    }
}

// -----------------------------------------------------------------------------
// sidebar listing
// -----------------------------------------------------------------------------

.col-list {
    fieldset {
	display: block;
	background-color: $jeffblue;
	border: none;
	padding: .5rem;
	margin: 0;
    }
    input {
	display: block;
	border: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: .25rem;
	padding: 1rem;
	margin: 0;
    }
    .listing {
	overflow: auto;
	background-color: $col-background;	
	> * {
	    display: block;
	    padding: 5px 10px;
	    margin: 0;
	}
	a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    color: $listing-link;
	    text-decoration: none;
	}
	a:hover {
	    background: $listing-link-hover;
	}
    }
}

#feature-filter {
    .col-list fieldset {
	display: none;
	background-color: $rtorange;
    }
}

// -----------------------------------------------------------------------------
// popup
// -----------------------------------------------------------------------------

table {
    width: 100%;
}

.num {
    text-align: center;
}

.mapboxgl-popup-content {
    border-radius: 10px;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.8));
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.8));
    background: $popup-background;
    transform: scale(0.7);
    @include medium {
	transform: scale(.9);
    }
    @include large {
	transform: scale(1);
    }
    h2 {
	color: $popup-header-color;
	text-align: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
    }
    h3 {
	color: auto;
	text-align: center;
	margin-top: .2rem;
	margin-bottom: .2rem;
    }
    .pu-header {
	position: relative;
	width: 100%;
	left: -10px;
	top: -10px;
	padding: 1px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: $popup-header-background;
    }
}

// kludge b/c tooltip point isn't connected directly to scaled content...buh
.mapboxgl-popup-tip {
    margin-bottom: 1rem;
    margin-top: -1.3rem;
    @include medium {
	margin-bottom: 3rem;
	margin-top: -.5rem;
    }
    @include large {
	margin-bottom: 4rem;
	margin-top: 0;
    }
}

// -----------------------------------------------------------------------------
// icons
// -----------------------------------------------------------------------------

.icon {
    width: 3%;
    padding-right: .5rem;
}

.fas, .far {
    padding-right: .5rem;
}

// -----------------------------------------------------------------------------
// page
// -----------------------------------------------------------------------------

$main-width-sm: 80%;
$main-width-md: 70%;
$main-width-lg: 50%;

main {
    width: $main-width-sm;
    margin: 2rem auto 3rem;
    padding: 1rem 2rem;
    background: $white;
    @include medium {
	width: $main-width-md;
    }
    @include large {
	width: $main-width-lg;
    }
}

.page-header {
    > h1 {
	text-align: center;
    }
}


